.gameArea {
  width: 800px;
  height: 400px;
  border: 1px solid black;
}

.player {
  width: 75px;
  height: 100px;
  position: absolute;
  top: 310px;
  background-image: url("LesterP1Artwork-02.png");
  background-size: 90%;
  background-repeat: no-repeat;
}

.bottomBlock {
  width: 50px;
  height: 50px;

  position: relative;
  bottom: 50px;
  left: 750px;
  background-image: url("Lester P1 Artwork (1)_Block JS.png");
  background-size: 70%;
  background-repeat: no-repeat;
}

.topBlock {
  width: 50px;
  height: 25px;
  position: relative;
  bottom: 130px;
  left: 750px;
  background-image: url("Lester P1 Artwork (1)_Block CSS.png");
  background-size: 35%;
  background-repeat: no-repeat;
}

#gameOver {
  display: none;
  font-size: 60px;
  position: relative;
  width: 400px;
  height: 100px;
  left: 235px;
  bottom: 380px;
}

#startScreen {
  display: block;
  font-size: 40px;
  position: relative;
  width: 500px;
  height: 80px;
  left: 210px;
  bottom: 350px;
}

h6 {
  position: relative;
  bottom: 60px;
  left: 80px;
  font-size: 30px;
}

@keyframes obstacleMoving {
  00% {
    right: 100px;
  }
  100% {
    left: 1.5px;
  }
}

@keyframes jumping {
  00% {
    top: 310px;
  }
  50% {
    top: 150px;
  }
  75% {
    top: 150px;
  }
  100% {
    top: 310px;
  }
}

.jump {
  animation: jumping 500ms;
}

.bottomMoving {
  animation: obstacleMoving infinite linear;
  animation-duration: 2s;
}

.topMoving {
  animation: obstacleMoving infinite linear;
  animation-duration: 3s;
}
